<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="causio">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  

	<title>Facecoin</title>

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="background top">
	</div>

	<div class="container" role="main">

		<div class="container jumbotron intro">
			<h1>Facecoin: personalized bitcoins</h1>
			<p>Facecoins let you make things.</p>
		</div>


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron main" data-view="checkout">
      	<div class="screen upload" data-role="upload">
			
			<p><button data-action="upload" class="btn btn-primary upload btn-lg" role="button" data-bind="click: uploadPhoto">Upload A Photo</button></p>
			<p class="subtly or directions">
				~ or pick an icon ~
			</p>
			<div class="icons clearfix row">
				<div data-bind="foreach: icons">
					<a href="#" data-bind="click: $parent.selectIcon" class="icon col-md-2">
						<img data-bind="attr: {src: $data}">
					</a>
				</div>
				<a href="#" data-bind="visible: !showingMoreIcons(), click: toggleIcons" class="icon col-md-2 more">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="hint more subtly">More</span>
				</a>
				<a href="#" data-bind="visible: showingMoreIcons(), click: toggleIcons" class="icon col-md-2 less">
					<span class="glyphicon glyphicon-minus"></span>
					<span class="hint less subtly">Less</span>
				</a>
			</div>
			<div class="more icons clearfix row" data-bind="slideVisible: showingMoreIcons()">
				<div class="search">
					<span class="glyphicon glyphicon-search"></span>
					<input type="text" class="form-control subtle search" placeholder="Search" data-bind="value: iconSearch">
				</div>
				<div data-bind="foreach: moreIcons">
					<a href="#" data-bind="click: $parent.selectIcon" class="icon col-md-2">
						<img data-bind="attr: {src: $data}">
					</a>
				</div>
			</div>
		</div>
		<div class="screen coins" data-role="coins">
			<p class="subtly choose directions">
				~ Choose your facecoin denominations ~
			</p>
			<div class="row select denoms" data-bind="foreach: denoms">
				<div class="col-md-2">
					<a data-action="add" class="btn btn-primary btn-lg buttonized" role="button" data-bind="click: $parent.addCoin">
						฿<strong data-bind="text: $data">+</strong>
					</a>
				</div>
			</div>
			<div class="coins" data-bind="foreach: coins">
				<div class="coin row" data-bind="css: {confirmed: confirmed()}">
					<div class="col-md-2">
						<a data-bind="text: amount" class="btn btn-default buttonized btn-lg"></a>
					</div>
					<div class="col-md-8">
						<p data-bind="visible: !confirmed()">Please send <strong data-bind="text: amount"></strong> BTC to <strong data-bind="text: address"></strong></p>
						<p data-bind="visible: confirmed()">Got it!</p>
					</div>
					<div class="col-md-2">
						<p data-bind="visible: confirmed">CHECK</p>
					</div>
				</div>
			</div>
			<div class="control-footer row">
				<div class="col-md-2 col-md-offset-10">
					<button class="btn btn-primary btn-lg flow buttonized" role="button" data-bind="enable: canProceed, click: goPreview">Next ></button>
				</div>
			</div>
		</div>
		<div class="screen" data-role="preview">
			<div id="loadingModel">Reticulating splines and such...</div>
			<canvas id="modelPreview" width="500" height="500"></canvas>
		</div>
      </div>

     </div>

	<!-- External Scripts -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
	<script src="/js/knockout.js"></script>
	<script src="/js/knockout.mapping.js"></script>
	<script src="/js/jsc3d.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>