<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="causio">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  

	<title>causio</title>

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<div >
		<!-- View Container -->
		<div class="content" id="content" data-role="view"></div>

		<canvas id="cv" width=640 height=480></canvas>

		<div id="footer" class="footer container">
			<p>Causio is alpha.</p>
		</div>
	</div>

	<!-- External Scripts -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/knockout.js"></script>
	<script src="/js/jsc3d.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>