<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="causio">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  

	<title>Facecoin</title>

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="background top">
	</div>

	<div class="container" role="main">

		<div class="container jumbotron intro">
			<h1>Facecoin: personalized bitcoins</h1>
			<p>Facecoins let you make things.</p>
		</div>


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron main" data-view="checkout">
      	<div class="screen upload" data-role="upload">
			
			<p><button data-action="upload" class="btn btn-primary upload btn-lg" role="button" data-bind="click: uploadPhoto">Upload A Photo</button></p>
			<p class="subtly or">
				- or pick an icon -
			</p>
			<div class="icons clearfix row">
				<div data-bind="foreach: icons">
					<a href="#" data-bind="click: $parent.selectIcon" class="icon col-md-2">
						<img data-bind="attr: {src: $data}">
					</a>
				</div>
				<a href="#" data-bind="" class="icon col-md-2">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="more subtly">More</span>
				</a>
			</div>
			<div class="more icons clearfix row">
				<div data-bind="foreach: icons">
					<a href="#" data-bind="click: $parent.selectIcon" class="icon col-md-2">
						<img data-bind="attr: {src: $data}">
					</a>
				</div>
				<div data-bind="foreach: icons">
					<a href="#" data-bind="click: $parent.selectIcon" class="icon col-md-2">
						<img data-bind="attr: {src: $data}">
					</a>
				</div>
				<div data-bind="foreach: icons">
					<a href="#" data-bind="click: $parent.selectIcon" class="icon col-md-2">
						<img data-bind="attr: {src: $data}">
					</a>
				</div>
			</div>
		</div>
		<div class="screen" data-role="coins">
			<div>
				<select data-bind="options: denoms, value: selectedDenom"></select>
				<a data-action="add" class="btn btn-primary btn-lg" role="button" data-bind="click: addCoin">+</a>
			</div>
			<ul data-bind="foreach: coins">
				<li data-bind="css: {confirmed: confirmed()}">
					<h3 data-bind="text: amount"></h3>
					<p data-bind="visible: !confirmed()">Send BTC to: <strong data-bind="text: address"></strong></p>
					<p data-bind="visible: confirmed">CHECK</p>
				</li>
			</ul>
			<p><button class="btn btn-primary btn-lg" role="button" data-bind="enable: canProceed, click: goPreview">Next ></button></p>
		</div>
		<div class="screen" data-role="preview">
			<div id="loadingModel">Reticulating splines and such...</div>
			<canvas id="modelPreview" width="500" height="500"></canvas>
		</div>
      </div>

     </div>

	<!-- External Scripts -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
	<script src="/js/knockout.js"></script>
	<script src="/js/knockout.mapping.js"></script>
	<script src="/js/jsc3d.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>