<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="causio">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  

	<title>causio</title>

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron main" data-view="checkout">
      	<div class="screen" data-role="upload">
			<h1>Hell there!</h1>
			<p><a data-action="upload" class="btn btn-primary btn-lg" role="button" data-bind="click: uploadPhoto">Upload Photo</a></p>
		</div>
		<div class="screen" data-role="coins">
			<div>
				<select data-bind="options: denoms, value: selectedDenom"></select>
				<a data-action="add" class="btn btn-primary btn-lg" role="button" data-bind="click: addCoin">+</a>
			</div>
			<ul data-bind="foreach: coins">
				<li data-bind="css: {confirmed: confirmed()}">
					<h3 data-bind="text: amount"></h3>
					<p data-bind="visible: confirmed">CHECK</p>
				</li>
			</ul>
			<p><button class="btn btn-primary btn-lg" role="button" data-bind="enable: canProceed">Next ></button></p>

		</div>
      </div>

     </div>

	<!-- External Scripts -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
	<script src="/js/knockout.js"></script>
	<script src="/js/knockout.mapping.js"></script>
	<script src="/js/jsc3d.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>