$top-color: #5F3BCD;
$bottom-color: #348CE8;
$grey-tab: #ddd;

body {
	padding-top: 70px;
	padding-bottom: 30px;
	background-color: $bottom-color;
}

.subtly {
	color: #afafaf;
	font-family: "Georgia", sans-serif;
	font-style: italic;
}

.background.top {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 400px;
	background-color: $top-color;
}

.intro {
	background: transparent;
	color: white;
}

.screen.upload {
	.btn.upload {
		width: 100%;
		font-size: 200%;
		height: 3em;
	}

	p.or {
		text-align: center;
		font-size: 120%;
	}

	a.icon {
		display: block;
		float: left;
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		border-radius: 10px;
		height: 158px;

		span.glyphicon {
			padding-left: 10px;
			font-size: 128px;
		}

		span.hint {
			position: absolute;
			left: 105px;
			top: 45px;
			font-size: 15px;
		}

		&.less {
			background: $grey-tab;
			border-radius: 10px 10px 0px 0px;

			.hint {
				left: 50px;
			}
		}

		&:hover {
			background: $bottom-color;

			span.hint {
				color: #2a6496;
				font-weight: bold;
			}
		}

		img {
			max-height: 120px;
		}
	}

	.icons.more {
		background: $grey-tab;

		border-radius: 10px 0px 10px 10px;

		.search {
			position: relative;

			.glyphicon {
				position: absolute;
				left: 12px;
				top: 12px;
				font-size: 150%;
			}

			input {
				box-shadow: none;
				border: none;
				background: transparent;
				font-size: 150%;
				height: 2em;
				padding-left: 60px;
			}
		}
	}
}